<div class="topbar-fixed-wrapper">
    <top-bar>
        <ul class="title-area">
            <li class="name">
                <h1><a ui-sref=".welcome">Home</a></h1>
            </li>
            <li toggle-top-bar class="menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <top-bar-section>
            <ul class="right">
                <li><a ui-sref=".sign_up">Register</a></li>
                <li><a ui-sref=".sign_in">Login</a></li>
            </ul>
        </top-bar-section>
    </top-bar>
</div>